<h1>Welcome to Doner Place!</h1>
            <p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and
                lamb and any topping you want. Place your order now!</p>
            <div class="products">
                 {{#if currentUser.isAdmin}}
                    <h2>Admin</h2>
                    <div class="product-card">
                    <img src="/img/new.png">
                    <a href="/create-product" class="button product-title">Create Product</a>
                    </div>
                {{/if}}
                <h2>Chicken Doner</h2>
                {{#each chickenDoners}}
                    <div class="product-card"><img src="/{{this.imageUrl}}"> 
                    {{#if isAdmin}}
                        <a href="#" class="control"><img class="control-img" src="/img/edit.png"></a>
                        <a href="#" class="control"><img class="control-img" src="/img/delete.png"></a> 
                    {{else}}
                        <a href="/customize-order?id={{this._id}}" class="button product-title">Order</a></div>

                    {{/if}} 
            </div>
                {{/each}}
                <h2>Beef Doner</h2>
                {{#each beefDoners}}
                    <div class="product-card"><img src="/{{this.imageUrl}}"> 
                    {{#if currentUser.isAdmin}}
                            <a href="#" class="control"><img class="control-img" src="/img/edit.png"></a>
                            <a href="#" class="control"><img class="control-img" src="/img/delete.png"></a> 
                    {{else}}
                            <a href="/customize-order?id={{this._id}}" class="button product-title">Order</a>
                         
                    {{/if}} 
                    </div>
                {{/each}}
                <h2>Lamb Doner</h2>
                {{#each lambDoners}}
                    <div class="product-card"><img src="/{{this.imageUrl}}"> 
                    {{#if currentUser.isAdmin}}
                        <a href="#" class="control"><img class="control-img" src="/img/edit.png"></a>
                        <a href="#" class="control"><img class="control-img" src="/img/delete.png"></a> 
                    {{else}}
                        <a href="/customize-order?id={{this._id}}" class="button product-title">Order</a>
                        
                    {{/if}} 
                    </div>
                {{/each}}
                </div>
                